aiohttp
beautifulsoup4
hachoir
numpy
Pillow
https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
requests
tgcrypto
#youtube-dl
#git+https://github.com/TGExplore/youtube-dl.git
#git+https://github.com/cvatricks/cvatricks-dl.git
pip install youtube_dl==2020.9.14
